.white-h{
  color: #fff;

}

.dataNum {
  font-size: 1.2em;
}

.TotalWorldwide, .HighlightCountry, .FavList, .SearchCountries{
  padding: 0 0 50px 0;
}

.CountryStat{
  padding: 0 0 15px 0;
}

#card-text-h{
  background: none;
  border: none;
}

#card-text-h .card-body{
  padding-bottom: 0px;
}
