body {
  background-color: #282c34;
}


.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
